<div class="row">
  <div class="span6">
    <div class="jumbotron masthead">
      <h1>Search Results</h1>
      <form action="/search" class="navbar-search">
        <input aria-autocomplete="list" aria-haspopup="true" class="search-query" id="movie-search" name="query" method="get" placeholder="Search by movie title" role="textbox" value="{{query}}">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="span6">
    {{#if query}}
    <div class="jumbotron masthead">
      <h1>"{{query}}"</h1>
    </div>
    <div class="row movies-grid">
      {{#each movies}}
        <div class="span3">
          <div class='movie-card clearfix'>
          <a data-navigate="/title/{{slug}}" href="/title/{{slug}}" class="pull-left"><img src="{{poster_url}}" width="70" height="100" /></a>
          <p><a data-navigate="/title/{{slug}}" href="/title/{{slug}}"><h4>{{title}}{{#if year}} ({{year}}){{/if}}{{#if mpaa_rating}} <small><span class='label label-rating{{ mpaa_rating }}'>{{ mpaa_rating }}</span></small>{{/if}}</h4></a></p>
          </div>
        </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>