{{#if movie.added }}
<div class="row">
  <div class="span12">
    <h1>Now Processing That Movie</h1>
    <p><img src="/assets/loading.gif" alt="Loading indicator" /> We've added that movie to the queue - this page will refresh when it has been processed...</p>
  </div>
</div>
{{/if}}


{{#unless movie.added }}

  <div class="row">
    <div class="span4">
      <img alt="{{ movie.title }} Poster Image" class="movie-poster" src="{{ movie.poster_url }}" />
    </div>
    <div class="span8 movie-details">
      <div class="row">
        <div class="span5">
          <h1>{{ movie.title }} ({{ movie.year }})
            <small><span class='label label-rating{{ movie.mpaa_rating }}'>{{ movie.mpaa_rating }}</span></small>
          </h1>
          {{#if movie.runtime}}<p><strong>Runtime:</strong> {{movie.runtime}}</p>{{/if}}
          {{#if movie.rating}}<p><strong>IMDb Rating:</strong> {{movie.rating}} (from {{movie.votes}} votes){{/if}}
          <p>{{ movie.plot_summary }}</p>
        </div>
        <div class="span3 movie-links">
          <div class='btn-toolbar'>
            <div class='btn-group'>
              {{#if movie.imdb_url }}<a href="{{ movie.imdb_url }}" class="btn" target="_blank">IMDb</a>{{/if}}
              {{#if movie.tmdb_url }}<a href="{{ movie.tmdb_url }}" class="btn" target="_blank">TMDb</a>{{/if}}
            </div>
          </div>
          <div class='btn-toolbar'>
            <div class='btn-group'>
              {{#if movie.pluggedin_url }}<a href="{{ movie.pluggedin_url }}" class="btn" target="_blank">PluggedIn</a>{{/if}}
              {{#if movie.kidsinmind_url }}<a href="{{ movie.kidsinmind_url }}" class="btn" target="_blank">KidsInMind</a>{{/if}}
            </div>
          </div>
        </div>
      </div>

      <h3>Plot Summary</h3>
      <p>{{ movie.plot_details }}</p>

      {{#if movie.kim_sex }}
      <h2>Kids in Mind Rating</h2>
      <div class='row'>
        <div class='span4'>
          <table class='table'>
            <tr>
              <th>Sexual Content</th>
              <td>{{ movie.kim_sex }}</td>
            </tr>
            <tr>
              <th>Violence</th>
              <td>{{ movie.kim_violence }}</td>
            </tr>
            <tr>
              <th>Language/profanity</th>
              <td>{{ movie.kim_language }}</td>
            </tr>
          </table>
        </div>
        <div class='span4'>
          <p>Some description of these numbers here...</p>
        </div>
      </div>
      {{/if}}

      {{#if movie.is_server_response }}
        <style>
        /*<![CDATA[*/
        html {
        background: url({{ movie.backdrop_url }}) no-repeat center center fixed;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ movie.backdrop_url }}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ movie.backdrop_url }}', sizingMethod='scale')";
        }
        /*]]>*/
        </style>
      {{/if}}
    </div>
  </div>
{{/unless}}