extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Now Playing
  ul.thumbnails
    each result in nowPlaying.results
      li.span2
        a.thumbnail(href="/title/#{result.id}")
          img(src="http://cf2.imgobject.com/t/p/w92" + result.poster_path)
          p #{result.title}

  h2 Upcoming
  ul.thumbnails
    each result in upcoming.results
      li.span2
        a.thumbnail(href="/title/#{result.id}")
          img(src="http://cf2.imgobject.com/t/p/w92" + result.poster_path)
          p #{result.title}