<%= form_for(@title) do |f| %>
  <% if @title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% @title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :plot_summary %><br />
    <%= f.text_area :plot_summary %>
  </div>
  <div class="field">
    <%= f.label :plot_details %><br />
    <%= f.text_area :plot_details %>
  </div>
  <div class="field">
    <%= f.label :mpaa_rating %><br />
    <%= f.text_field :mpaa_rating %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :imdb_rating %><br />
    <%= f.text_field :imdb_rating %>
  </div>
  <div class="field">
    <%= f.label :imdb_votes %><br />
    <%= f.number_field :imdb_votes %>
  </div>
  <div class="field">
    <%= f.label :imdb_id %><br />
    <%= f.text_field :imdb_id %>
  </div>
  <div class="field">
    <%= f.label :tmdb_id %><br />
    <%= f.text_field :tmdb_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
