- if @title.fresh?
  .row
    .span12
      %h1 Loading title...
      %p One moment while we load that movie...
      .progress.progress-striped.active.span5
        .bar{style: 'width: 100%'}
  :javascript
    $(function() {
      window.poll();
    });
- elsif @title.blocked?
  .row
    .span12
      %h1 Title Blocked
      %p Oops, it appears that title is blocked on this website...
- elsif @title.missing?
  .row
    .span12
      %h1 Title Not Found
      %p Oops, it looks like we cannot find that title...
- else
  - page_title "#{@title.name} (#{@title.release_date.year})"
  - content_for :open_graph do
    %meta{property: "og:title", content: "#{@title.name} (#{@title.release_date.year})"}
    %meta{property: "og:type", content: "movie"}
    %meta{property: "og:url", content: "http://checkafilm.com#{title_path(@title)}"}
    %meta{property: "og:image", content: @title.poster_url}
    %meta{property: "og:site_name", content: "Check a Film"}
    %meta{property: "fb:admins", content: "100000505263000"}
  = cache @title do
    .row
      .span2
        %img.hidden-phone{src: @title.poster_url(:thumb), alt: "#{@title.name} Poster Image"}

        %p= link_to 'Homepage', @title.homepage, class: 'btn btn-inverse btn-block', target: '_blank' if @title.homepage?
        %p= link_to 'IMDb', @title.imdb_link, class: 'btn btn-inverse btn-block', target: '_blank' if @title.imdb_link?
        %p= link_to 'TMDb', @title.tmdb_link, class: 'btn btn-inverse btn-block', target: '_blank' if @title.tmdb_link?
        %p= link_to 'Rotten Tomatoes', @title.rotten_tomatoes_link, class: 'btn btn-inverse btn-block', target: '_blank' if @title.rotten_tomatoes_link?
        %p= link_to 'Plugged In', @title.plugged_in_link, class: 'btn btn-inverse btn-block', target: '_blank' if @title.plugged_in_link?
        %p= link_to 'Kids in Mind', @title.kids_in_mind_link, class: 'btn btn-inverse btn-block', target: '_blank' if @title.kids_in_mind_link?
      .span10
        %h1
          = @title.name
          %small
            = @title.release_date.year
        .row
          .span2
            %p
              %dl
                - if @title.imdb_votes
                  %dt IMDb Rating
                  %dd #{@title.imdb_rating} (from #{pluralize(@title.imdb_votes, 'vote', 'votes')})
                - if @title.tmdb_votes
                  %dt TMDb Rating
                  %dd #{@title.tmdb_rating} (from #{pluralize(@title.tmdb_votes, 'vote', 'votes')})
                - unless @title.mpaa_rating.nil? or @title.mpaa_rating.empty?
                  %dt MPAA Rating
                  %dd
                    %span.label{class: "label-rating#{@title.mpaa_rating}"}= @title.mpaa_rating
                - unless @title.release_date.nil?
                  - if @title.release_date < Date.today
                    %dt Released (Theater)
                    %dd= @title.release_date
                  - elsif @title.release_date > Date.today
                    %dt Releasing (Theater)
                    %dd= @title.release_date
                  - else
                    %dt Released (Theater)
                    %dd Today
                - unless @title.release_date_dvd.nil?
                  - if @title.release_date_dvd < Date.today
                    %dt Released (DVD)
                    %dd= @title.release_date_dvd
                  - elsif @title.release_date_dvd > Date.today
                    %dt Releasing (DVD)
                    %dd= @title.release_date_dvd
                  - else
                    %dt Released (DVD)
                    %dd Today
                - if @title.runtime?
                  %dt Runtime
                  %dd= runtime(@title)
          .span8
            .rotten-tomatoes
              %h2 Rotten Tomatoes
              - critic_class = (@title.rotten_tomatoes_critics_rating ? @title.rotten_tomatoes_critics_rating.split(/ /).first.downcase : '')
              - audience_class = (@title.rotten_tomatoes_audience_rating ? @title.rotten_tomatoes_audience_rating.split(/ /).first.downcase : 'wts')
              .meter_box.clearfix
                .critics
                  .tomato_numbers
                    .header Critic Score
                    %span.meter.numeric{class: critic_class}= @title.rotten_tomatoes_critics_score.to_i
                .consensus
                  .tomatometer{class: critic_class}
                    %span{style: "width: #{@title.rotten_tomatoes_critics_score.to_i}%;"}
                  %p.critic_consensus= @title.rotten_tomatoes_critics_consensus
                .audience
                  .header Audience Score
                  %span.meter.numeric{class: audience_class}= @title.rotten_tomatoes_audience_score.to_i
                  - if audience_class == 'wts'
                    .want-to-see want to see

        %p.summary= @title.plot_summary
        %h2 Plot Summary
        .details
          %p= @title.plot_details



        - if @title.kids_in_mind_sex_number?
          %h2 Kids in Mind Rating
          .row
            .span5
              %table.table.table-bordered
                %tr
                  %th Sexual Content
                  %td= @title.kids_in_mind_sex_number
                %tr
                  %th Violence
                  %td= @title.kids_in_mind_violence_number
                %tr
                  %th Profanity
                  %td= @title.kids_in_mind_language_number
            .span5
              %p Kids in Mind numbers range from 0 to 10, with 10 being the highest possible rating.  For example, a movie with a violence number of 10 would be more violent than a movie with a 5.

        .trailers
          %h2 Trailers
          %ul.thumbnails
            - @title.trailers.each do |trailer|
              = cache trailer do
                %li.span2
                  = link_to "http://www.youtube.com/watch?v=#{trailer.url}", class: 'thumbnail fancybox-media' do
                    %img{src: trailer.thumbnail_url, alt: trailer.name}


    :javascript
      window.images = #{@title.backdrops.map { |b| b.image_url }.to_json};

