<!doctype html>
<html>
<head>

  <meta charset="utf-8">

  <title>Check a Film - informed movie information</title>
  <meta name="description" content="">
  <link rel="author" href="/humans.txt" />

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>

  <!-- Home screen icon  Mathias Bynens mathiasbynens.be/notes/touch-icons -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/h/apple-touch-icon.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/m/apple-touch-icon.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/assets/l/apple-touch-icon-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="/assets/l/apple-touch-icon.png">

  <!-- iOS Webapp -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!--<script>(function(){var a;if(navigator.platform==="iPad"){a=window.orientation===90||window.orientation===-90?"/assets/startup-tablet-landscape.png":"/assets/startup-tablet-portrait.png"}else{a=window.devicePixelRatio===2?"/assets/startup-retina.png":"/assets/startup.png"}document.write('<link rel="apple-touch-startup-image" href="'+a+'"/>')})()</script>-->

  <!-- The script prevents links from opening in mobile safari. https://gist.github.com/1042026 -->
  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

  <!-- Microsoft / IE -->
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script><![endif]-->


  <!-- more tags for your 'head' to consider h5bp.com/d/head-Tips -->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--[if lt IE 9]>
  <link href="/assets/jquery-ui-ie.css?body=1" media="all" rel="stylesheet" type="text/css" />
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
  <body>
    <div id="top-message">
      <p>Loading</p>
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" data-navigate="/" href="/">Check a Film</a>

          <ul class="nav">
            <li><a data-navigate="/" href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
          </ul>

          <div class="hide-mobile">
            <form action="/search" class="navbar-search pull-right">
              <input aria-autocomplete="list" aria-haspopup="true" class="search-query" id="movie-search" name="query" method="get" placeholder="Search by movie title" role="textbox">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div id="content">
        <%= yield %>
      </div>

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Built by <a href="http://jacobwg.com" rel="author">Jacob Gillespie</a> | Copyright &copy; <%= Date.today.year %></p>
        <p>Powered by <a href="http://imdb.com" target="_blank">IMDb</a>, <a href="http://themoviedb.org" target="_blank">The Movie DB</a>, <a href="http://pluggedin.com" target="_blank">Plugged In</a>, and <a href="http://kids-in-mind.com" target="_blank">Kids in Mind</a></p>
      </footer>
    </div>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/jquery.js?body=1"><\/script>')</script>
    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      App.tmdb_api_key = "<%= raw Settings.tmdb_key %>";
      App.movies.reset(<%= raw @movies.as_api_response(:public).to_json %>);
    </script>
  </body>
</html>